@using QuanLyBanNoiThat.Models;

@model IEnumerable<QuanLyBanNoiThat.Models.HOADON>


@{
    ViewBag.Title = "ShowHoaDon_ForAdmin";
    Layout = "~/Views/Shared/LayOut_Admin.cshtml";
}

<style>
    table {
        width:90%;
        margin: 20px auto;
        border-collapse: collapse;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    th, td {
        padding: 12px;
        text-align: center;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
    }

    td {
        background-color: #fafafa;
    }

    .my-button {
          background-color: #4CAF50; /* Màu xanh lá cây */
          border: none;
          color: white;
          padding: 5px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 4px;
    }

    .my-button:hover {
        background-color: #3e8e41;
        color:white;
    }
</style>

<table>
    <tr>
        <th>@Html.ActionLink("Tạo Hoá Đơn", "CreateHD_Admin")</th>
    </tr>
</table>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" style="text-align:center; color: #f00">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert" style="text-align:center; color: #f00">
        @TempData["ErrorMessage"]
    </div>
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYLAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.MANV != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.MAHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MANV)
            </td>
            <td>
                @(item.NGAYLAP.HasValue ? item.NGAYLAP.Value.ToString("dd/MM/yyyy") : "N/A")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONGTIEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TRANGTHAI)
            </td>
            <td>
                @if ((string)Session["RoleNV"] == "manager")
                {
                    <a href="@Url.Action("EditHD_Admin", new { id = item.MAHD.Trim() })" class="my-button">Edit</a>
                    <a href="@Url.Action("DetailsHD_Admin", new { id = item.MAHD.Trim() })" class="my-button">Details</a>
                    <a href="@Url.Action("DeleteHD_Admin", new { id = item.MAHD.Trim() })" class="my-button">Delete</a>
                }
                else
                {
                    <a href="@Url.Action("DetailsHD_Admin", new { id = item.MAHD.Trim() })" class="my-button">Details</a>
                }
            </td>
        }
    </tr>
}

</table>
