@model QuanLyBanNoiThat.Models.KHACHHANG

@{
    ViewBag.Title = "DetailsKH_Admin";
    Layout = "~/Views/Shared/LayOut_Admin.cshtml";
}

<link rel="stylesheet" href="~/Css/style.css">

<fieldset>
    <legend>KHACHHANG</legend>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.TENKH)</strong>       
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TENKH)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.DIACHI)</strong>   
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DIACHI)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.EMAIL)</strong>    
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMAIL)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.SDT)</strong>         
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SDT)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.HINHANH)</strong>        
    </div>
    <div class="display-field">
        @if (!string.IsNullOrEmpty(Model.HINHANH))
            {
                <img src="@Url.Content("~/Picture/KhachHang/" + Model.HINHANH)" alt="" style="max-width:100px; max-height:100px;" />
            }
            else
            {
              <span>Không có hình ảnh</span>
            }
    </div>
</fieldset>
<p style="text-align:center">
    <a href="@Url.Action("ShowKH_ForAdmin")" class="my-button">Back To List</a>
</p>
