@model IEnumerable<QuanLyBanNoiThat.Models.CHITIETHD>

@{
    ViewBag.Title = "ShowCTHD_Admin";
    Layout = "~/Views/Shared/LayOut_Admin.cshtml";
}

<style>
    table {
        width:90%;
        margin: 20px auto;
        border-collapse: collapse;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    th, td {
        padding: 12px;
        text-align: center;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
    }

    td {
        background-color: #fafafa;
    }

    .my-button {
          background-color: #4CAF50; /* Màu xanh lá cây */
          border: none;
          color: white;
          padding: 5px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 4px;
    }

    .my-button:hover {
        background-color: #3e8e41;
        color:white;
    }
</style>

<table>
    <tr>
        <th>@Html.ActionLink("Tạo Chi Tiết Hoá Đơn", "CreateCTHD_Admin")</th>
    </tr>
</table>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" style="text-align:center; color: #f00">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert" style="text-align:center; color: #f00">
        @TempData["ErrorMessage"]
    </div>
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MASP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIABAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THANHTIEN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MASP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLUONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIABAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THANHTIEN)
        </td>
        <td>
            <a href="@Url.Action("EditCTHD_Admin", new { maHD = item.MAHD.Trim(), maSP = item.MASP.Trim() })" class="my-button">Edit</a>
            <a href="@Url.Action("DetailsCTHD_Admin", new { maHD = item.MAHD.Trim(), maSP = item.MASP.Trim() })" class="my-button">Details</a>
            <a href="@Url.Action("DeleteCTHD_Admin", new { maHD = item.MAHD.Trim(), maSP = item.MASP.Trim() })" class="my-button">Delete</a>
        </td>
    </tr>
}

</table>
